unsloth
transformers==4.57.1
trl==0.22.2
numpy
python-dotenv
wandb
shapely
datasets==4.3.0
pillow
jupyter 
ipywidgets
ragas
nltk
pycocoevalcap
torchrun
tiktoken
peft
accelerate
bitsandbytes
tensorboardX
evaluate
