unsloth
transformers==4.57.1
trl==0.22.2
numpy
datasets
python-dotenv
wandb
shapely
datasets==4.3.0
pillow
jupyter 
ipywidgets
flash-attn==2.7.4.post1
tensorboardX
peft
bitsandbytes
qwen-vl-utils
trl==0.8.0
