*{
  margin:0;
  padding:0;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Open Sans", sans-serif;
}
.select-dark .ant-select-selection-placeholder{
  color:#c7c7c7 !important;
}
.select-dark .ant-select-selection-placeholder,
.select-dark .ant-select-selector .ant-select-selection-placeholder,
.select-dark .ant-select-single .ant-select-selection-placeholder {
  color: #c7c7c7 !important;
}

.res-dark .ant-input-number-input::placeholder {
  color: #c7c7c7 !important;
  opacity: 1;
}

.res-light .ant-input-number-input::placeholder {
  color: #7a7a7a !important;
  opacity: 1;
}

.res-dark .ant-input-number-input {
  color: #ffffff !important;
}

.res-light .ant-input-number-input {
  color: #000000 !important;
}
/* Scrollbar container */
.message-container::-webkit-scrollbar {
  width: 8px;             /* width of scrollbar */
}

/* Scrollbar track (background) */
.message-container::-webkit-scrollbar-track {
  background: #f0f0f0;    /* light gray track */
  border-radius: 4px;
}

/* Scrollbar thumb (the draggable part) */
.message-container::-webkit-scrollbar-thumb {
  background-color: #4549b8;  /* color of thumb */
  border-radius: 4px;
  border: 2px solid #f0f0f0; /* optional padding */
}

/* Optional hover effect */
.message-container::-webkit-scrollbar-thumb:hover {
  background-color: #30348b;
}



